// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2 {
	
	text-align:center
}
.container-fluid {
	
	background-color:black; top:0; left:0; position:fixed; width:100%; color: #bda956; text-transform:uppercase; letter-spacing:0.2em; font-weight:100; font-size:1.2em; 

}

.navbar-collapse a:hover {
	
	transition:1.0s; color: #bda956 !important;
}
.navbar-brand {
	
	color:white !important; font-family:georgia
}

.search  {
	
 font-size:12px; float:right; 
}

.text{
	
	color: black; display:inline
}

.jumbotron {
	
	background-color:white;
}

.carousel-inner{
	
	margin-top:90px; margin-bottom:40px
}

#intro {
	
	color: #bda956; font-size:1.5em; letter-spacing:0.2em; text-transform: uppercase; font-family: georgia, futura;
}